<div style="height: 600px">
  <div id="myCarousel" class="carousel slide">
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Carousel items -->
    <div class="carousel-inner">
      <div class="active item"> <%= image_tag 'http://twitter.github.io/bootstrap/assets/img/examples/slide-02.jpg',:width => '1500px' %></div>
      <div class="item"><%= image_tag"badghis2.png", :width => "1200px"  %></div>

      <div class="item"><%= image_tag "kabul2.png"  %>
        <div class="carousel-caption">
          <a class="btn btn-danger btn-large" href="#"><i class="icon-road icon-white"></i> Get Started </a>
          <p>Badghis the beautiful province of Afghanistan</p>
        </div>
      </div>
      <div class="item"><%= image_tag "kabul2.png" %>
        <div class="carousel-caption">
          <p>Kabul Capital of Afghanistan</p>
        </div>
      </div>
    </div>
    <!-- Carousel nav -->
    <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>






   </div>
</div>