

<!-- ===================================== MEET TEAM ===================================== -->



  <div class="navbar-inner">
    <div class="container">



      <div class="row-fluid">
        <div class="span12">
          <center><h2 class="col">Who we are</h2></center>
          <br/>

          

          <div class="span3">
            <img src="pic/hamid.jpg" class="img-circle">
            <br/>
            <h4>Ghazal Ahmad Zia</h4>
            We are happy,because serve you are<br/>
            <a href="https://twitter.com/Ghezal_ahmadzai"><i class="icon-user icon-white"></i></a>
            <a href="https://twitter.com/Ghezal_ahmadzai"><i class="icon-envelope icon-white"></i></a>

          </div>


          
          <div class="span3">
            <img src="pic/hamid.jpg" class="img-circle">
            <h4> Ashuqullah Alizai</h4>

            <a href="https://twitter.com/Ghezal_ahmadzai"><i class="icon-user icon-white"></i></a>
            <a href="https://twitter.com/Ghezal_ahmadzai"><i class="icon-envelope icon-white"></i></a>
          </div>



          <div class="span3">
            <img src="pic/hamid.jpg" class="img-circle">
            <h4>Hamidullah Khanzai</h4>
            I am the right one

            <a href="https://twitter.com/Ghezal_ahmadzai"><i class="icon-user icon-white"></i></a>
            <a href="https://twitter.com/Ghezal_ahmadzai"><i class="icon-envelope icon-white"></i></a>
          </div>
          
           <div class="span3">
            <img src="pic/hamid.jpg" class="img-circle">
            <h4>Abdul Aziz Akbary</h4>
            I am the right one

            <a href="https://twitter.com/Ghezal_ahmadzai"><i class="icon-user icon-white"></i></a>
            <a href="https://twitter.com/Ghezal_ahmadzai"><i class="icon-envelope icon-white"></i></a>
          </div>
          
           <div class="span3">
            <img src="pic/hamid.jpg" class="img-circle">
            <h4>Mahmood Asghar Zadeh</h4>
            I am the right one

            <a href="https://twitter.com/Ghezal_ahmadzai"><i class="icon-user icon-white"></i></a>
            <a href="https://twitter.com/Ghezal_ahmadzai"><i class="icon-envelope icon-white"></i></a>
          </div>
           <div class="span3">
            <img src="pic/hamid.jpg" class="img-circle">
            <h4>Sayed Ahmad Mahbobi</h4>
            I am the right one

            <a href="https://twitter.com/Ghezal_ahmadzai"><i class="icon-user icon-white"></i></a>
            <a href="https://twitter.com/Ghezal_ahmadzai"><i class="icon-envelope icon-white"></i></a>
          </div>
           <div class="span3">
            <img src="pic/hamid.jpg" class="img-circle">
            <h4>Sameenullah Sameem</h4>
            I am the right one

            <a href="https://twitter.com/Ghezal_ahmadzai"><i class="icon-user icon-white"></i></a>
            <a href="https://twitter.com/Ghezal_ahmadzai"><i class="icon-envelope icon-white"></i></a>
          </div>

        </div>
     













      







      