<!-- ===================================== WHAT CAN WE OFFER ===================================== -->


<div class="container">
  <div class="row-fluid">
    <div class="span12">
      <center><h2>What we can offer</h2></center>
      <br/>
      <br/>


      <div class="span1">
      </div>

      <div class="span3">
        <img src="pic/road1.png">
        <br/>
        <h3>Our Network</h3>
        <p>We connect 34 province of AFG<br/>
          We are here to help our people.</p>
      </div>

      <div class="span1">
      </div>

      <div class="span3">
        <img src="pic/award.png">
        <h3>our Product</h3>

        <p>We connect 34 province of AFG<br/>
          We are here to help our people.</p>
      </div>


      <div class="span3">
        <img src="pic/creative.png">
        <h3>our mission</h3>
        <p>We connect 34 province of AFG<br/>
          We are here to help our people.</p>
      </div>
    </div>
  </div>
</div>





<br/>
<br/>

<!-- ===================================== MEET TEAM ===================================== -->


<div class="navbar navbar-inverse navbar-bottom">
  <div class="navbar-inner">
    <div class="container">



      <div class="row-fluid">
        <div class="span12">
          <center><h2 class="col">Who we are</h2></center>
          <br/>

          <div class="span1">
          </div>

          <div class="span3">
            <img src="pic/hamid.jpg" class="img-circle">
            <br/>
            <h3>Zia</h3>
            We are happy,because serve you are<br/>
            <a href="https://twitter.com/Ghezal_ahmadzai"><i class="icon-user icon-white"></i></a>
            <a href="https://twitter.com/Ghezal_ahmadzai"><i class="icon-envelope icon-white"></i></a>

          </div>


          <div class="span1">
          </div>
          <div class="span3">
            <img src="pic/hamid.jpg" class="img-circle">
            <h3>Alizai</h3>

            <a href="https://twitter.com/Ghezal_ahmadzai"><i class="icon-user icon-white"></i></a>
            <a href="https://twitter.com/Ghezal_ahmadzai"><i class="icon-envelope icon-white"></i></a>
          </div>



          <div class="span3">
            <img src="pic/hamid.jpg" class="img-circle">
            <h3>KhanZai</h3>
            I am the right one

            <a href="https://twitter.com/Ghezal_ahmadzai"><i class="icon-user icon-white"></i></a>
            <a href="https://twitter.com/Ghezal_ahmadzai"><i class="icon-envelope icon-white"></i></a>
          </div>

        </div>
      </div>














      <br/>
      <br/>







      