<!-- ===================================== WHAT CAN WE OFFER ===================================== -->

 <div class="navbar-inner">
<div class="container">
  <div class="row-fluid">
    <div class="span12">
      <center><h2>What we can offer</h2></center>
      <br/>
      <br/>


      <div class="span1">
      </div>

      <div class="span3">
        <%= image_tag("mission.jpg")%>
        <br/>
        <h3>Our Network</h3>
        <p>We connect 34 province of AFG<br/>
          We are here to help our people.</p>
      </div>

      <div class="span1">
      </div>

      <div class="span3">
        <%= image_tag("mission.jpg")%>
        <h3>our Product</h3>

        <p>We connect 34 province of AFG<br/>
          We are here to help our people.</p>
      </div>


      <div class="span3">
        <%= image_tag("mission.jpg")%>
        <h3>our mission</h3>
        <p>We connect 34 province of AFG<br/>
          We are here to help our people.</p>
      </div>
    </div>
  </div>
</div>
</div>




<br/>
<br/>