// Place all the styles related to the reports controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.field{ 
  
  float:left; 
   padding-right: 100px;
display:inline-block;
}
.cont{
  
  float:left;
  padding-right:80 px;
   margin: 20;
  border:10px;
}
.date{
 height:50px;
  float:left;
 
  padding-right:80 px;
 margin: 20;
}
